# Default ignored files
/shelf/
/.idea/workspace.xml
/codeStyles/
/python-study.iml
/.idea/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/